@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

af|inputText.login::content {
    color:rgb(43,78,104); 
    font-weight: bold;
}

.titulos{
    color:rgb(43,78,104); 
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold; 
    text-decoration: none;
     border-bottom: 2px solid white;
    text-align:center;
    font-size:medium;
    /*margin:0px 0px 0px 42px;*/
   /* margin-top: 20px;*/
}

/*
af|button, af|button:text-only {
    background-image: none;
    background-color:rgb(43,78,104);
    color: rgb(255,255,255);
    border-color:rgb(43,78,104);
}
*/

.subTitulos{
    color:Navy; 
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold; 
    text-decoration: none;
     border-bottom: 2px solid white;
    text-align:center;
    font-size:small;
}

af|button.FondoRojoLetraBlanca {
    background-image: none;
    color: rgb(255,255,255);
    border-color: rgb(205,0,0);
    background-color: rgb(205,0,0);
}

af|button.FondoVerdeLetraRoja {
    background-image: none;
    color: rgb(255,255,255);
    font-weight: bold;
    border-color: Green;
    background-color: Green;
}

af|button.FondoRojoLetraVerde{
    background-image: none;
    color: rgb(255,255,255);
    font-weight: bold;
    border-color: rgb(205,0,0);
    background-color: rgb(205,0,0);
}

af|button.flechaUp {
    background-image: url("../../recursos/img/usuarios/up.png");
}

af|button.flechaUp:text-only {
    background-image: url("../../recursos/img/usuarios/up.png");
    background-repeat: no-repeat;
    background-position: center;
    border-color: rgb(255,255,255);
}

af|button.flechaDown {
    background-image: url("../../recursos/img/usuarios/down.png");
}

af|button.flechaDown:text-only {
    background-image: url("../../recursos/img/usuarios/down.png");
    background-repeat: no-repeat;
    background-position: center;
    border-color: rgb(255,255,255);
}
.arriba{
    position: absolute;   
    z-index: 999;
}

.abajo{
    position: relative;
}
/*
af|menu::bar-item {
    background-color: transparent; 
    border-color: transparent; 
}

af|menu::bar-item:depressed {
    background-color: transparent; 
}

af|menu::bar-item:highlighted {
    background-color: transparent; 
}

.AFBrandingBarItem af|menu::bar-item {
    background-color: transparent; 
}

af|menu::bar-item-text[theme="dark"] {
    color: transparent; 
}

af|menu::bar-item-text {
    color: #949494;
}

af|menu:highlighted::bar-item-text { color: black; }
af|menu:depressed::bar-item-text { color: black; }*/
/*
af|menu::bar-item-open-icon-style {
    width: 50px;
    background-image: url("../../recursos/img/usuarios/down.png"); 
}
*//*
af|menu:highlighted::bar-item-open-icon-style {
    width: 50px;
    background-image: url("../../recursos/img/usuarios/down.png"); 
}
af|menu:depressed::bar-item-open-icon-style {
    width: 50px;
    background-image: url("../../recursos/img/usuarios/down.png"); 
}

af|menu::submenu-open-icon-style {
    background-image: url("/recursos/img/usuarios/down.png"); 
}*/

af|commandMenuItem::menu-item-text {
    color: #666361; 
}

af|commandMenuItem::bar-item-text {
    color: #666361; 
}

af|menu::bar-item-text {
    color: #666361; 
}

af|menu::bar-item {
    color: #666361; 
}

af|commandMenuItem::menu-item {
    color: #666361; 
}

af|commandMenuItem::bar-item {
    color: #666361; 
}