@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

af|inputText.login::content {
    color:rgb(43,78,104); 
    font-weight: bold;
}

af|inputNumberSpinbox.evaluar::content {
    color:rgb(43,78,104); 
    font-weight: bold;
    text-align:center;
}
/*row.nota le 10.49 ? 'background-color:red;color:white;' :        
(row.nota ge 10.50 and row.nota le 15.49 ? 
'background-color:yellow;color:black;' : 'background-color:green;color:white;' )} 
font-size:xx-small;white-space:pre-wrap;text-align:left;width:100%;"/>
*/
af|inputText.rojo::content {
    color:rgb(255,255,255); 
    font-weight: bold;
    text-align:center;
    background-color: red;
}

af|inputText.naranja::content {
    color:black; 
    font-weight: bold;
    text-align:center;
    background-color: orange;
}

af|inputText.amarillo::content {
    color:black; 
    font-weight: bold;
    text-align:center;
    background-color: yellow;
}

af|inputText.verde::content {
    color:White; 
    font-weight: bold;
    text-align:center;
    background-color: green;
}

.titulos{
    color:rgb(104,100,97);/*rgb(43,78,104); */
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold; 
    text-decoration: none;
    border-bottom: 2px solid white;
    text-align:center;
    font-size:medium;
    text-align: center;
    /*margin:0px 0px 0px 42px;*/
   /* margin-top: 20px;*/
}

/*
af|button, af|button:text-only {
    background-image: none;
    background-color:rgb(43,78,104);
    color: rgb(255,255,255);
    border-color:rgb(43,78,104);
}
*/

.subTitulos{
    color:rgb(104,100,97);
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold; 
    text-decoration: none;
     border-bottom: 2px solid white;
    text-align:center;
    font-size:small;
}

.subTitulos2{
    color:rgb(104,100,97);
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold; 
    text-decoration: none;
    text-align:center;
    font-size: xx-small;
}


af|button.FondoRojoLetraBlanca {
    background-image: none;
    color: rgb(255,255,255);
    border-color: rgb(205,0,0);
    background-color: rgb(205,0,0);
}

af|button.FondoGrisLetraGris {
    background-image: none;
    color: rgb(104,100,97);
    border-color: rgb(219,214,208);
    background-color: rgb(219,214,208);
}

af|button.FondoVerdeLetraRoja {
    background-image: none;
    color: rgb(255,255,255);
    font-weight: bold;
    border-color: Green;
    background-color: Green;
}

af|button.FondoRojoLetraVerde{
    background-image: none;
    color: rgb(255,255,255);
    font-weight: bold;
    border-color: rgb(205,0,0);
    background-color: rgb(205,0,0);
}

af|button.flechaUp {
    background-image: url("../../recursos/img/usuarios/up.png");
}

af|button.flechaUp:text-only {
    background-image: url("../../recursos/img/usuarios/up.png");
    background-repeat: no-repeat;
    background-position: center;
    border-color: rgb(255,255,255);
}

af|button.flechaDown {
    background-image: url("../../recursos/img/usuarios/down.png");
}

af|button.flechaDown:text-only {
    background-image: url("../../recursos/img/usuarios/down.png");
    background-repeat: no-repeat;
    background-position: center;
    border-color: rgb(255,255,255);
}
.arriba{
    position: absolute;   
    z-index: 999;
}
.arriba2{
    position: absolute;
    z-index: 999;
}
.arriba3{
    position: absolute;
    z-index: 555;
}
.abajo{
    position: relative;
}
/*
af|menu::bar-item {
    background-color: transparent; 
    border-color: transparent; 
}

af|menu::bar-item:depressed {
    background-color: transparent; 
}

af|menu::bar-item:highlighted {
    background-color: transparent; 
}

.AFBrandingBarItem af|menu::bar-item {
    background-color: transparent; 
}

af|menu::bar-item-text[theme="dark"] {
    color: transparent; 
}

af|menu::bar-item-text {
    color: #949494;
}

af|menu:highlighted::bar-item-text { color: black; }
af|menu:depressed::bar-item-text { color: black; }*/
/*
af|menu::bar-item-open-icon-style {
    width: 50px;
    background-image: url("../../recursos/img/usuarios/down.png"); 
}
*//*
af|menu:highlighted::bar-item-open-icon-style {
    width: 50px;
    background-image: url("../../recursos/img/usuarios/down.png"); 
}
af|menu:depressed::bar-item-open-icon-style {
    width: 50px;
    background-image: url("../../recursos/img/usuarios/down.png"); 
}

af|menu::submenu-open-icon-style {
    background-image: url("/recursos/img/usuarios/down.png"); 
}*/

af|commandMenuItem::menu-item-text {
    color: #666361; 
}

af|commandMenuItem::bar-item-text {
    color: #666361; 
}

af|menu::bar-item-text {
    color: #666361; 
}

af|menu::bar-item {
    color: #666361; 
}

af|commandMenuItem::menu-item {
    color: #666361; 
}

af|commandMenuItem::bar-item {
    color: #666361; 
}

af|showDetailItem {
    color: #666361; 
}

af|panelTabbed::tab-content {
    color: #666361;
}

af|panelTabbed::body {
    background-color: transparent; 
    border-color: transparent; 
    border: transparent; 
}