@charset "UTF-8";
/**ADFFaces_Skin_File / DO NOT REMOVE**/
@namespace af "http://xmlns.oracle.com/adf/faces/rich";
@namespace dvt "http://xmlns.oracle.com/dss/adf/faces";

af|inputText.login::content {
    color: rgb(19, 76, 149);
    font-weight: bold;
}

.titulos{
    color:Navy; 
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold; 
    text-decoration: none;
     border-bottom: 2px solid white;
    text-align:center;
    font-size:medium;
    /*margin:0px 0px 0px 42px;*/
   /* margin-top: 20px;*/
}

af|button.FondoRojoLetraBlanca {
    background-image: none;
    background-color: rgb(205,0,0);
    color: rgb(255,255,255);
    border-color: rgb(205,0,0);
}