.amx-inputText.imagenfondo{
    background-image: url("resources/img/lock.png");
    background-color: Aqua;
}

.img{
    background-image: url("resources/img/lock.png");
    background-color: Aqua;
}

.titulos{
    color:rgb(102,98,96);
    font-size:medium;
}